{% load staticfiles %}

<html>
    <head>
        <mata charset="utf-8" />
        <title>hello 다인</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" >
               <link rel="stylesheet" href="{% static 'blog/blog.css' %}" />
    </head>
    <body>
        <dir class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            {% endif %}    

                <h1><a href="/">다인 메니져 DaIn lover</a></h1>
        </dir>
        

        <dir class="content container">
            <dir class="row">
                <dir class="col-md-8">
                 {% block content %}
                 {% endblock %}
                </dir>
            </dir>            
        </dir>

    </body>
</html>